
.logo {
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-text {
    font-size: 10px;
    color: black;
    font-style: normal;
    font-weight: 800;
    font-family: 'Inter';

    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.menu-buttons {
    width: 95%;
    margin-top: 2%;
    height: 30px;
    padding: 0 10% 2% 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px solid;
}

.menu-button {
    border-radius: 15px;
    background-color: #F1E80A;
    box-shadow: 0 3px 0 0 #A59E00;
}

.menu-center {
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

.page-content {
    margin-top: 1%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.personal-account {
    width: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personal-account-data, .personal-account-menu {
    min-height: 60vh;
    border-radius: 25px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    background-color: #535353;
}

.personal-account-menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.personal-account-data {
    width: 65%;
    padding-bottom: 0;
    position: relative;
}

.personal-account-buttons {
    width: 100%;
    padding-top: 15%;
}

.personal-account-logo {
    width: 85%;
    margin: 10% 7.5%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #FFFFFF;

    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.2);
}

.personal-account-text {
    font-size: 10px;
    display: flex;
    font-style: normal;
    font-weight: 800;
    font-family: 'Inter';
    text-align: center;
    justify-content: center;
    text-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);

}

@media (min-width: 768px) {
    .logo {
        width: 180px;
        height: 40px;
    }

    .menu-text {
        font-size: 16px;
    }

    .menu-buttons {
        width: 95%;
        margin-top: 2%;
        height: 40px;
        padding: 0 10% 2% 10%;
    }

    .menu-button {
        border-radius: 15px;
    }

    .menu-center {
        padding: 0 10%;
    }

    .page-content {
        margin-top: 1%;
    }

    .personal-account {
        width: 80%;
        padding: 0 5%;
    }

    .personal-account-data, .personal-account-menu {
        min-height: 60vh;
        border-radius: 25px;
        margin-bottom: 5%;
    }

    .personal-account-menu {
        width: 30%;
    }

    .personal-account-data {
        width: 60%;
    }

    .personal-account-buttons {
        padding-top: 15%;
    }

    .personal-account-logo {
        width: 80%;
        margin: 10% 10%;
        height: 50px;
        border-radius: 10px;
    }

    .personal-account-text {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .logo {
        width: 240px;
        height: 60px;
    }

    .menu-text {
        font-size: 20px;
    }

    .menu-buttons {
        width: 85%;

        margin-top: 2%;
        height: 60px;
        padding: 0 15% 2% 15%;
    }

    .menu-button {
        border-radius: 15px;
    }

    .menu-center {
        padding: 0 10%;
    }

    .page-content {
        margin-top: 1%;
    }

    .personal-account {
        width: 70%;
        padding: 0 5%;
    }

    .personal-account-data, .personal-account-menu {
        min-height: 60vh;
        border-radius: 25px;
        margin-bottom: 5%;
    }

    .personal-account-menu {
        width: 20%;
    }

    .personal-account-buttons {
        padding-top: 15%;
    }

    .personal-account-logo {
        width: 80%;
        margin: 10% 10%;
        height: 50px;
    }

    .personal-account-text {
        font-size: 20px;
    }
}

