.logo{
    width: 240px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-text{
    color: black;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Inter';

    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}
.menu-buttons{
    display: flex;
    justify-content: space-between;
    width: 85%;

    margin-top: 2%;
    height: 60px;
    border-bottom: black 1px solid;
    padding: 0 15% 2% 15%;
}
.menu-button{
    background-color: #F1E80A;
    border-radius: 15px;
    box-shadow: 0 3px 0 0 #A59E00;
}
.menu-center{
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.page-content{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 1%;
}
.personal-account{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 70%;
    padding: 0 5%;
}
.personal-account-data, .personal-account-menu{
    display: flex;
    flex-direction: column;
    background-color: #535353;
    min-height: 60vh;
    border-radius: 25px;
    margin-bottom: 5%;
}
.personal-account-menu{
    width: 20%;
}
.personal-account-data{
    width: 60%;
}
.personal-account-buttons{
    padding-top: 15%;
}
.personal-account-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal-account-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 80%;
    margin: 10% 10%;
    height: 50px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 10px;

    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.2);


}
.personal-account-text{
    display: flex;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Inter';
    text-align: center;
    justify-content: center;
    text-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);
}