
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    font-size: 14px;
    flex-direction: column;
    font-family: 'Inter';
    overflow: scroll;
    overflow-x: hidden;
    margin: 5% 0;
}

.container::-webkit-scrollbar {
    width: 7px;
    background-color: #223c50;
}

.container::-webkit-scrollbar-thumb {
    background-color: #f9f9fd;
}

.column {
    margin: 0;
    display: block;
    width: 100%;
}

.input-area {
    height: 65px;
    width: 90%;
}

.input-area * {
    width: 100%;
}

.input-text::placeholder {
    color: black;
}

.input-text {
    width: 80%;
    height: 25px;
    color: black;
    border-radius: 13px;
    padding-left: 10px;

    border: none;
}

.input-text:focus
{
    border: none;
    outline: none;
}


.input-area h3 {
    margin: 6%;
    color: white;
}

.input-text::placeholder {
    font-size: 12px;
}


@media (min-width: 768px) {
    .container {
        width: 90%;
    }



    .input-area {
        height: 65px;
    }

    .input-area * {
        width: 100%;
    }

    .input-text {
        height: 30px;
    }

    .input-area h3 {
        margin: 6%;
    }
}

@media (min-width: 1440px) {
    .container {
        flex-direction: row;
    }


    .input-area {
        height: 65px;
        width: 250px;
        margin: 5%;
    }

    .input-area * {
        width: 100%;
    }

    .input-text {
        height: 30px;
    }

    .input-area h3 {
        margin: 3%;
    }
}