//Colors

//Backgrounds
$background-color-gray: #535353;
$bacgroung-color-yelow: #F1E80A;
$bacgroung-color-white: #FFFFFF;

//Shadows
$shadow-color-yelow: #A59E00;

//Text color
$logo-text-color-white: #FFFFFF;

