//Backgrounds
$background-color-gray: #535353;
$backgroung-color-yelow: #F1E80A;
$backgroung-color-white: #FFFFFF;

//Shadows
$shadow-color-yelow: #A59E00;

//Text color
$text-color-white: #FFFFFF;

//Font
$font-family: 'Inter';

